In [17]:
import pandas as pd

In [18]:
df=pd.read_csv("healthcare_dataset.csv")

In [19]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,17/11/22,Patrick Parker,Wallace-Hamilton,Medicare,37490.98336,146,Elective,01-12-22,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,01.06.23,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.06485,404,Emergency,15-06-23,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,09-01-19,Paul Baker,Walton LLC,Medicare,36874.89700,292,Emergency,08-02-19,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,02-05-20,Brian Chandler,Garcia Ltd,Medicare,23303.32209,480,Urgent,03-05-20,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,09-07-21,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.34418,477,Urgent,02-08-21,Paracetamol,Normal

In [20]:
df['Billing Amount']=df['Billing Amount'].astype(str)
df['Insurance Provider']=df['Insurance Provider']+ " "+df['Billing Amount']

In [21]:
df["Billing Amount"] = ""

In [22]:
df.duplicated().sum()

5

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10006 entries, 0 to 10005
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                10006 non-null  object
 1   Age                 10006 non-null  int64
 2   Gender              10006 non-null  object
 3   Blood Type          10006 non-null  object
 4   Medical Condition   10006 non-null  object
 5   Date of Admission   10006 non-null  object
 6   Doctor              10006 non-null  object
 7   Hospital            10006 non-null  object
 8   Insurance Provider  10006 non-null  object
 9   Billing Amount      10006 non-null  object
 10  Room Number         10006 non-null  int64
 11  Admission Type      10006 non-null  object
 12  Discharge Date      10006 non-null  object
 13  Medication          10006 non-null  object
 14  Test Results        10006 non-null  object
dtypes: int64(2), object(13)
memory usage: 1.1+ MB

In [25]:
df.to_csv("healthcare_dataset_.csv", index=False)